<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cargar imagen</title>
</head>
<body>

<h3> Operador raiz </h3>

<form action="/raiz" method="POST" enctype="multipart/form-data">
    <input type="file" name="archivo">
    <input type="submit">
</form>

<h3> Operador logaritmico </h3>
<form action="/logritmico" method="POST" enctype="multipart/form-data">
    <input type="file" name="archivo">
    <input type="submit">
</form>

<h3> Operador Exponencial </h3>
<form action="/exponencial" method="POST" enctype="multipart/form-data">
    <input type="file" name="archivo">
    <br>
    Ingrese un valor de C: <input type="number" id="C" name="C">
    <input type="submit">
</form>

<h3> Histograma equalizacion </h3>
<form action="/histEquali" method="POST" enctype="multipart/form-data">
    <input type="file" name="archivo">
    <input type="submit">
</form>



</body>
</html>


